* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

nav {
    margin-top: 44px;
}

a {
    text-decoration: none;
    padding-left: 60px;
    color: #989D9C;
    font-size: 20px;
    font-weight: 600;
}

#button-nav {
    background-color: #665AE1;
    font-size: 18px;
    color: #FFFFFF;
    width: 87px;
    height: 29px;
    border-radius: 20px;
    border-color: transparent;
    text-align: center;
    margin-left: 650px;
}

#button-explore {
    background-color: #665AE1;
    font-size: 20px;
    color: #FFFFFF;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    margin-right: 100px;
}

img {
    width: 468px;
    height: 400px;
    margin: 70px;
}

div {
    width: 468px;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 180px;
    margin-bottom: 80px;
}

h1 {
    font-size: 80px;
    color: #515151;
    font-weight: 1000;
}

h3 {
    color: #515151;
    font-weight: 500;
    font-size: 58px;
}

p {
    color: #848484;
    margin: 40px 0;
}

@media (max-width: 1300px) {

    *{
        overflow: hidden;
        max-width: 100%;
        display: block;
    }
    img {
        width: 294px;
        height: 267px;  
        margin: 0 auto;
        align-items: center;
        margin-top: 80px;
    }
    div{
        width: 368px;
        align-items: center;
        margin: 0 auto -90px auto;
    }
    h1{
        margin-top: 60px;
        margin: 0 auto;
        align-items: center;
        font-size: 55px;
        margin-top: 65px;
    }
    h3 , button{
        margin: 0 auto;
        align-items: center;
        font-size: 40px;
        margin-bottom: 30px;

    }
    nav, p , title{
        display: none;
    } 
}